

/* if the viewport is equal to 340px or less */
@media only screen and (max-width: 340px){
    .banner_top .main-menu .navbar, 
    .banner_top .main-menu .navbar .navbar-brand,
    .site-main .projects_area
    {
        padding: 2%;
        margin: 0%;
        
    }

    .site-main .site_intro .site-title h1{
        font-size: 41px;
    }

    .site-main > .projects_area .projects{
        width: 13rem;
    }
}



/* if the viewport is equal to 1910px or less */
@media only screen and (max-width: 1910px){
    .banner_top .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .projects_area, .projects-title{
        padding: 3% 4%;
    }    
}