<section id="container">
    <!-- Header Area -->
    <div class="header">
      <div class="profile">
          <a class="portrait" href="/"><img src="assets/images/imgPortrait.jpg" alt/></a>
          <div id="myName" class="name">{{myName}}</div>
          <div id="MyTitle" class="intro">{{MyTitle}}</div>
          <div id="inMyToolBelt" class="intro">{{inMyToolBelt}}</div>
          <div class="links">
              <a class="icon" target="_blank" href="https://github.com/mrjeanjoseph" title="GitHub"><span
                      class="fab fa-2x fa-github-square">&#xe237;</span></a>
              <a class="icon" target="_blank" href="https://www.linkedin.com/in/mrjeanjoseph/" title="LinkedIn"><span
                      class="fab fa-2x fa-linkedin">&#xe252;</span></a>
              <a class="icon" target="_blank" href="https://www.hackerrank.com/fjeanjoseph" title="HackerRank"><span
                      class="fab fa-2x fa-hackerrank">&#xe271;</span></a>
              <a class="icon" target="_blank" href="https://twitter.com/mrjeanjoseph" title="Twitter"><span
                      class="fab fa-2x fa-twitter-square">&#xe286;</span></a>
          </div>
      </div>
      <nav class="navigation">
          <ul class="tabs" id="tabs">
              <li class="tab" target="_blank" ><a href="assets/documents/resume.pdf">Get CV/</a></li>
              <li class="tab" target="_blank" ><a href="assets/documents/certification.pdf">Certification</a></li>
          </ul>
      </nav>
  </div>

  <!-- Body Section -->
  <div class="item">
      <div class="card">
          <a class="" target="_blank"
              href="https://restaurantagogo.azurewebsites.net/category"><img
                  src="assets/images/projImg1.png" width="400" height="175" /></a>
                  <div class="content">
              <h1><a target="_blank">Restaurant AGoGo</a></h1>
              <p>
                  Select a random restaurant from a list based on zip code 
                  for you to go to when you can't decide where to eat.                    
                  <br>Platform - ASP.NET Core, MS/SQL hosted on Azure with Angular.
              </p>
              <p><a target="_blank"
                      href="https://github.com/mrjeanjoseph/RestaurantAGoGo">
                      Click here for more details</a>
              </p>
          </div>
      </div>
  </div>
  <!-- I want this section to be repeated and looped -->

  <div class="item ">
      <div class="card">
          <a class="" target="_blank"
              href="https://github.com/mrjeanjoseph/ServiceDeskCRM"><img
                  src="assets/images/projImg2.png" width="400" height="175" /></a>
                  <div class="content">
              <h1><a target="_blank">Service Desk CRM</a></h1>
              <p>
                  Keep tract of customer cases using this ticketing system.
                  Create, edit and delete cases as needed. Easily organized
                  by priority based on user login.
                  <br> ASP.NET Core, MS/SQL with Angular.
              </p>
              <p><a target="_blank"
                      href="https://github.com/mrjeanjoseph/ServiceDeskCRM">
                      Click here for more details</a>
              </p>
          </div>
      </div>
  </div>

  <div class="item">
      <div class="card">
          <a class="" target="_blank" href="https://github.com/mrjeanjoseph/TodolistApp"><img
                  src="assets/images/img2.2.jpg" width="250" height="150" /></a>
          <br><h1><a target="_blank">TodoList Appliaction</a></h1>
          <div class="content">
              <p>Practical application of Typescript with Angular 12</p>
              <p><a target="_blank" href="https://github.com/mrjeanjoseph/TodolistApp">View Project Details</a></p>
          </div>
      </div>
  </div>

  <div class="item">
      <div class="card">
          <a class="" target="_blank" href="https://github.com/mrjeanjoseph/CodeAllDay_Everyday"><img src="https://github.com/mrjeanjoseph/CRUD_AllDay/blob/master/cheatsheet/img/content01.gif?raw=true"
                  width="250" height="150" /></a>
          <br><h1><a target="_blank">Personal Project</a></h1>
          <div class="content">
              <p>Showcase working understanding in HTML, CSS & JavaScript</p>
              <p><a target="_blank" href="https://github.com/mrjeanjoseph/CRUD_AllDay/tree/master/js-jq-fundamentals/professional-website">View Project Details</a></p>
          </div>
      </div>
  </div>
</section>